---
import Link from '../../components/Link/Link'
import EditTag from '../../components/Tag/EditTag'
import TagCat from '../../components/Tag/TagCat'
import { TAGS_ENDPOINT } from '../../constants'
import Layout from '../../layouts/Layout.astro'
import type { TagPage } from '../../types'
import { format_long_date } from '../../util/format_date'

const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value

const { link_id } = Astro.params
if (!link_id) {
	return Astro.redirect('/404')
}

const tags_url = TAGS_ENDPOINT + `/${link_id}`
const get_tags_resp = await (token ? fetch(tags_url, {
	headers: {
		Authorization: `Bearer ${token}`,
	},
}) : fetch(tags_url))
if (get_tags_resp.status > 399) {
	return Astro.redirect('/404')
}
const tag_Data: TagPage = await get_tags_resp.json()
const { Link: link, UserTag: user_tag, TagRankings: top_tags } = tag_Data
link.TagCount = top_tags.length

const page_title = link.Summary ? `Tags for "${link.Summary}"` : `Link Tags`
---

<Layout Title={page_title}>
	<script>
		function handle_redirect() {
			document.cookie = `redirect_to=${window.location.pathname.replaceAll('/', '%2F')}; path=/login; max-age=21600; SameSite=strict; Secure`
			return (window.location.href = '/login')
		}

		document
			.getElementById('login-redirect-link')
			?.addEventListener('click', handle_redirect)
	</script>
	<main>
		<section>
			<h2>Link:</h2>
			<Link
				client:load
				IsSummaryPage={false}
				IsTagPage={true}
				IsTmapPage={false}
				Link={link}
				Token={token}
				User={user}
			/>
		</section>

		{user !== undefined ? <EditTag
			client:load
			LinkID={link_id}
			Token={token}
			UserTag={user_tag ? user_tag : undefined}
		/> : <section>
			<p id="login-redirect-link"><a href="/login">Login</a> to start tagging links.</p>
		</section>}

		{
			top_tags ? (
				<section>
					<h2>Top Tags</h2>
					<ol>
						{top_tags.map((tag) => (
							<li class='tag'>
								<ul id='cat-list'>
									{tag.Cats.split(',').map((tag) => {
										return (
											<TagCat
												Cat={tag}
												EditActivated={false}
												Deleted={undefined}
											/>
										)
									})}
								</ul>
								<p>
									submitted by{' '}
									<a href={`/map/${tag.SubmittedBy}`}>
										{tag.SubmittedBy}
									</a>
								</p>
								<p>last updated: {format_long_date(tag.LastUpdated)}</p>
								<p>
									
									lifespan: {tag.LifeSpanOverlap.toFixed(2)}%
								</p>
							</li>
						))}
					</ol>
				</section>
			) : null
		}
	</main>
</Layout>

<style>
	#login-redirect-link {
		margin-top: 0;
	}
	.tag:not(:last-child) {
		margin-bottom: 2rem;
	}
</style>
