---
import Link from '../../components/Link/Link'
import EditTag from '../../components/Tag/EditTag'
import TagCategory from '../../components/Tag/TagCategory'
import Layout from '../../layouts/Layout.astro'
import type { TagPage } from '../../types'
import format_date from '../../util/format_date'

const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value
if (!user) {
	Astro.cookies.set('redirect_to', Astro.url.pathname, {
		path: '/login',
		maxAge: 3600,
		sameSite: 'strict',
		secure: true,
	})
	return Astro.redirect('/login')
}

const { link_id } = Astro.params
if (!link_id) {
	return Astro.redirect('/404')
}

const get_tags_resp = await fetch(`http://127.0.0.1:8000/tags/${link_id}`, {
	headers: {
		Authorization: `Bearer ${token}`,
	},
})
if (get_tags_resp.status > 399) {
	return Astro.redirect('/404')
}
const tag_Data: TagPage = await get_tags_resp.json()
const { Link: link, UserTag: user_tag, TagRankings: top_tags } = tag_Data
---

<Layout Title=`Tags for ${tag_Data.Link.Summary}`>
	<main>
		<section>
			<h2>Link:</h2>
			<Link
				client:load
				IsSummaryPage={false}
				IsTagPage={true}
				Link={link}
				Token={token}
				User={user}
			/>
		</section>

		<EditTag
			client:load
			LinkID={link_id}
			Token={token}
			UserTag={user_tag}
		/>

		{
			top_tags ? (
				<section>
					<h2>Top Tags</h2>
					<ol>
						{top_tags.map((tag) => (
							<li class='tag'>
								<ul id='cat_list'>
									{tag.Categories.split(',').map((tag) => {
										return (
											<TagCategory
												Category={tag}
												EditActivated={false}
												Deleted={undefined}
											/>
										)
									})}
								</ul>
								<p>
									Submitted By:{' '}
									<a href={`/map/${tag.SubmittedBy}`}>
										{tag.SubmittedBy}
									</a>
								</p>
								<p>{format_date(tag.LastUpdated)}</p>
								<p>
									Lifespan Overlap:{' '}
									{tag.LifeSpanOverlap.toFixed(2)}%
								</p>
							</li>
						))}
					</ol>
				</section>
			) : null
		}
	</main>
</Layout>

<style>
	.tag {
		margin-bottom: 50px;
	}
	#cat_list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		padding-inline-start: 0px;
	}
</style>
