---
import type { Period } from '../types'

interface Props {
	Period: Period
	Page: number
	NextPage: number
}

const { Period: period, Page: page, NextPage: next_page } = Astro.props
const is_only_page = 
	page === 1
	&& next_page === -1
---

<nav class="pagination" style=`display: ${is_only_page ? 'none' : 'block'}`>
	Page:
	{page > 1 ? <a href={`/top?period=${period}`}>1</a> : null}

	{ page > 3 ? <span>...</span> : null}

	{
		page > 2 ? (
			<span>
				<a href={`/top?period=${period}&page=${page - 1}`}>{page - 1}</a>
			</span>
		) : null
	}

	<span>
		{page}
	</span>

	{
		next_page > 0 ? (
			<a href={`/top?period=${period}&page=${next_page}`}>{next_page}</a>
		) : null
	}
</nav>
