---
import Link from '../../components/Link/Link'
import Summary from '../../components/Summary/Summary'
import NewSummary from '../../components/Summary/NewSummary'
import Layout from '../../layouts/Layout.astro'
import type { SummaryPage } from '../../types'
import {SUMMARIES_ENDPOINT} from '../../constants'

// Auth
const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value
const is_signed_in = user && token

const { link_id } = Astro.params
if (!link_id) {
	return Astro.redirect('/404')
}

// Get summaries
const summaries_url = SUMMARIES_ENDPOINT + `/${link_id}`
const get_summaries_resp = await (token
	? fetch(summaries_url, {
			headers: {
				Authorization: `Bearer ${token}`,
			},
		})
	: fetch(summaries_url))
if (get_summaries_resp.status > 399) {
	return Astro.redirect('/404')
}
let summary_data: SummaryPage = await get_summaries_resp.json()
const { Link: link, Summaries: summaries } = summary_data
---

<Layout Title=`Summaries for ${link.Summary}`>
	<script>
		function handle_redirect() {
			document.cookie = `redirect_to=${window.location.pathname.replaceAll('/', '%2F')}; path=/login; max-age=3600; SameSite=strict; Secure`
			return (window.location.href = '/login')
		}

		document
			.getElementById('login-redirect-link')
			?.addEventListener('click', handle_redirect)
	</script>
	<main>
		<h1>Summaries</h1>
		<section>
			<h2>Link</h2>
			<Link
				client:load
				Link={link}
				IsSummaryPage={true}
				IsTagPage={false}
				Token={token}
				User={user}
			/>
		</section>

		{is_signed_in ? 
			<section>
				<NewSummary client:load Token={token} LinkID={link_id} />
			</section>
		 : null}

		<section>
			<h2>Top Summaries</h2>
			<ol id="top-summaries">
				{
					summaries.length ? (
						summaries.map((summary) => (
							<Summary
								client:load
								Token={token}
								User={user}
								ID={summary.ID}
								Text={summary.Text}
								SubmittedBy={summary.SubmittedBy}
								LastUpdated={summary.LastUpdated}
								LikeCount={summary.LikeCount}
								IsLiked={summary.IsLiked}
							/>
						))
					) : (
						<p>No summaries yet.</p>
					)
				}
			</ol>
		</section>

		{is_signed_in 
			? null 
			: <section>
				<p>
					<a id='login-redirect-link' href='#'>
						Login
					</a>
					<span> to like summaries or add your own.</span>
				</p>
			</section>
		}
	</main>
</Layout>

<style>
	#login-redirect-link {
		display: inline-block;
	}

	#top-summaries {
		max-width: calc(100% - 1rem);
		margin-left: auto;
		padding: 0;
	}
</style>
