---
import Link from '../../components/Link'
import Summary from '../../components/Summary'
import NewSummary from '../../components/NewSummary'
import Layout from '../../layouts/Layout.astro'
import type { SummaryPage } from '../../types'

const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value

const { link_id } = Astro.params
if (!link_id) {
	return Astro.redirect('/404')
}

const get_summaries_resp = await (token
	? fetch(`http://127.0.0.1:8000/summaries/${link_id}`, {
			headers: {
				Authorization: `Bearer ${token}`,
			},
		})
	: fetch(`http://127.0.0.1:8000/summaries/${link_id}`))
if (get_summaries_resp.status > 399) {
	return Astro.redirect('/404')
}
const summary_data: SummaryPage = await get_summaries_resp.json()
const { Link: link, Summaries: summaries } = summary_data
---

<Layout Title=`Summaries for ${summary_data.Link.Summary}`>
	<script>
		function handle_redirect() {
			document.cookie = `redirect_to=${window.location.pathname.replaceAll('/', '%2F')}; path=/login; max-age=3600; SameSite=strict; Secure`
			return (window.location.href = '/login')
		}

		document
			.getElementById('login-redirect-link')
			?.addEventListener('click', handle_redirect)
	</script>
	<main>
		<section>
			<Link
				client:load
				Link={link}
				IsSummaryPage={true}
				IsTagPage={false}
				Token={token}
				User={user}
			/>
		</section>
		<section>
			{
				user ? (
					<NewSummary client:load Token={token} LinkID={link_id} />
				) : (
					<p>
						<a id='login-redirect-link' href='#'>
							Login
						</a>
						<span> to like summaries or add your own.</span>
					</p>
				)
			}
		</section>
		<section>
			<h2>Top Summaries</h2>
			<ol>
				{
					summaries.length ? (
						summaries.map((summary) => (
							<Summary
								client:load
								Token={token}
								User={user}
								ID={summary.ID}
								Text={summary.Text}
								SubmittedBy={summary.SubmittedBy}
								LastUpdated={summary.LastUpdated}
								LikeCount={summary.LikeCount}
								IsLiked={summary.IsLiked}
							/>
						))
					) : (
						<p>None yet.</p>
					)
				}
			</ol>
		</section>
	</main>
</Layout>

<style></style>
