---
import Link from '../../components/Link/Link'
import Summary from '../../components/Summary/Summary'
import NewSummary from '../../components/Summary/NewSummary'
import BaseLayout from '../../layouts/BaseLayout.astro'
import type { SummaryPage } from '../../types'
import {SUMMARIES_ENDPOINT} from '../../constants'
import fetch_with_handle_redirect from '../../util/rate_limit'

// Auth
const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value
const is_signed_in = user && token

const { link_id } = Astro.params
if (!link_id) {
	return Astro.redirect('/404')
}

// Get summaries + link
const summaries_url = SUMMARIES_ENDPOINT + `/${link_id}`
const get_summaries_resp = await (token
	? fetch_with_handle_redirect(summaries_url, {
			headers: {
				Authorization: `Bearer ${token}`,
			},
		})
	: fetch_with_handle_redirect(summaries_url))
if (!get_summaries_resp.Response || get_summaries_resp.RedirectTo) {
	return Astro.redirect(get_summaries_resp.RedirectTo)
}
let summary_data: SummaryPage = await get_summaries_resp.Response.json()
const { Link: link, Summaries: summaries } = summary_data

// put summary with highest like count first,
// unless it is a tie between "Auto Summary" and 1+ others
// (in that case, the next highest first)
summaries.sort((a, b) => {
	if (a.LikeCount !== b.LikeCount) {
		return b.LikeCount - a.LikeCount;
	}
	
	if (a.SubmittedBy === 'Auto Summary') {
		return 1;
	} else if (b.SubmittedBy === 'Auto Summary') {
		return -1;
	}
	
	return a.Text.localeCompare(b.Text);
})

const page_title = link.Summary ? `Summaries for "${link.Summary}"` : 'Link Summaries'
---

<BaseLayout Title={page_title}>
	<script>
		function handle_redirect() {
			document.cookie = `redirect_to=${window.location.pathname.replaceAll('/', '%2F')}; path=/login; max-age=21600; SameSite=strict; Secure`
			return (window.location.href = '/login')
		}

		document
			.getElementById('login-redirect-link')
			?.addEventListener('click', handle_redirect)
	</script>
	<main>
		<h1>Summaries</h1>
		<section>
			<h2>Link</h2>
			<Link
				client:load
				Link={link}
				IsSummaryPage={true}
				IsTagPage={false}
				IsTmapPage={false}
				Token={token}
				User={user}
			/>
		</section>

		<section>
			{is_signed_in ? 
				<NewSummary client:load Token={token} LinkID={link_id} /> 
			: <p>
				<a id='login-redirect-link' href='#'>
					Login
				</a>
				<span> to like summaries or add your own.</span>
			</p>
			}
		</section>

		<section>
			<h2>Top Summaries</h2>
			<ol id="top-summaries">
				{
					summaries.length ? (
						summaries.map((summary) => (
							<Summary
								client:load
								Token={token}
								User={user}
								ID={summary.ID}
								Text={summary.Text}
								SubmittedBy={summary.SubmittedBy}
								LastUpdated={summary.LastUpdated}
								LikeCount={summary.LikeCount}
								IsLiked={summary.IsLiked}
							/>
						))
					) : (
						<p>No summaries yet.</p>
					)
				}
			</ol>
		</section>
	</main>
</BaseLayout>

<style>
	#login-redirect-link {
		display: inline-block;
	}

	#top-summaries {
		max-width: calc(100% - 1rem);
		margin-left: auto;
		padding: 0;
	}
</style>
