---
import Link from '../../components/Link'
import Layout from '../../layouts/Layout.astro'
import type { CategoryContributor, CategoryCount, LinkData } from '../../types'

const { category } = Astro.params

const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value

const get_links_resp = await (token
	? fetch(`http://127.0.0.1:8000/links/cat/${category}`, {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch(`http://127.0.0.1:8000/links/cat/${category}`))
const links: LinkData[] = await get_links_resp.json()
// [{URL: 'https://example.com', LikeCount: 100}, ...]

let subcats: CategoryCount[]
let top_contributors: CategoryContributor[]

if (!links || links.length === 0) {
	return Astro.redirect('/404')
} else {
	const subcats_resp = await fetch(
		`http://127.0.0.1:8000/links/subcat/${category}`
	)
	subcats = await subcats_resp.json()
	// [{Category: 'flowers', Count: 2}, ...]

	const top_contributors_resp = await fetch(
		`http://127.0.0.1:8000/links/cat/${category}/users`
	)
	top_contributors = await top_contributors_resp.json()
	// [{"Categories":"umvc3,2dfighters","LoginName":"bob","LinksSubmitted":"10"}]
}
---

<Layout Title='Welcome to the Open Internet Treasure Map (OITM)'>
	<main>
		<h1>{category}</h1>
		{subcats.length ? <h2>Subcategories</h2> : null}
		{
			subcats.length ? (
				<ul>
					{subcats.map((subcat) => (
						<li>
							<a href={`/cat/${category},${subcat.Category}`}>
								{subcat.Category}
							</a>
							: <span>({subcat.Count})</span>
						</li>
					))}
				</ul>
			) : (
				<p>No further subcategories</p>
			)
		}
		<h2>Top Contributors</h2>
		<ol>
			{
				top_contributors.map((contributor: CategoryContributor) => (
					<li>
						<strong>
							<a href={`/map/${contributor.LoginName}`}>
								{contributor.LoginName}
							</a>
						</strong>
						<span>: ({contributor.LinksSubmitted})</span>
					</li>
				))
			}
		</ol>
		<h2>Top Links</h2>
		<ol>
			{
				links.map((link) => (
					<Link
						client:load
						Link={link}
						IsSummaryPage={false}
						Token={token}
						User={user}
					/>
				))
			}
		</ol>
	</main>
</Layout>

<style></style>
