---
import Link from '../components/Link/Link'
import ScrollUp from '../components/ScrollUp.astro'
import { CATS_ENDPOINT, LINKS_ENDPOINT } from '../constants'
import Layout from '../layouts/Layout.astro'
import { Periods, type CategoryCount, type PaginatedLinks } from '../types'

// Auth
const token = Astro.cookies.get('token')?.value
const user: string | undefined = Astro.cookies.get('user')?.value

// Get top cats
const top_cats_resp = await (token
	? fetch(CATS_ENDPOINT, {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch(CATS_ENDPOINT))
const top_cats: CategoryCount[] = await top_cats_resp.json()

// Get top links
const links_endpoint = LINKS_ENDPOINT + '?period=month'
const get_links_resp = await (token
	? fetch(links_endpoint, {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch(links_endpoint))
const data: PaginatedLinks = await get_links_resp.json()
const links = data.Links
const other_periods = Periods.filter((other) => other !== 'month')
---

<Layout Title='Welcome to the Open Internet Treasure Map (OITM)'>
	<main>
		<img class='chest-backdrop' src='../../chest.svg' alt="treasure chest full of Internet links" />
			<h1>Welcome to FITM</h1>
			<h2 class='subtitle bg'>a map of the web's treasures</h2>
			{
				user ? (
					<h3 id="new-link">
						<a href={`/new`}>Add link</a>
					</h3>
				) : null
			}
		<section>
			<h2>Top Cats</h2>
			<ol id="top-cats">
				{
					top_cats.map((cat) => (
						<li>
							<a href={`/top?cats=${cat.Category}`}>{cat.Category}</a>
							<span>({cat.Count})</span>
						</li>
					))
				}
			</ol>
		</section>
		<section>
			<h2>Top Links This Month</h2>
			<ol id='change-period'>
				{
					other_periods.map((period) => (
						<li class='period'>
							<a href={`/top?period=${period}`}>{period}</a>
						</li>
					))
				}
			</ol>
			<ol id='top-links'>
				{
					links.map((link) => (
						<Link
							client:load
							CatsFromUser={link.TagCount === 1 && link.SubmittedBy === user ? user : undefined}
							Link={link}
							IsSummaryPage={false}
							IsTagPage={false}
							Token={token}
							User={user}
						/>
					))
				}
			</ol>
		</section>
		<ScrollUp />
	</main>
</Layout>

<style>
	.chest-backdrop {
		position: absolute;
		top: 1em;
		left: 50%;
		transform: translatex(-50%);
		width: 150px;
		height: auto;
		opacity: 0.25;
		z-index: -1;
	}
	#new-link {
		text-align: center;
	}
	#change-period {
		display: flex;
		list-style: none;
		padding-inline-start: 1rem;
		margin-top: 0;
	}
	#new-link,
	#change-period {
		a,
		a:visited {
			color: var(--text);
		}
	}
	.period {
		margin-right: 0.5rem;
	}
	.period:last-of-type {
		margin-right: 0;
	}
</style>
