---
import Link from '../components/Link'
import Layout from '../layouts/Layout.astro'
import { Periods, type CategoryCount, type LinkData } from '../types'

// get auth token and user if user signed in
const token = Astro.cookies.get('token')?.value
const user: string | undefined = Astro.cookies.get('user')?.value

const popular_cats_resp = await (token
	? fetch('http://127.0.0.1:8000/tags/popular', {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch('http://127.0.0.1:8000/tags/popular'))
// [{Category: 'umvc3', Count: 1}, ...]
const popular_cats: CategoryCount[] = await popular_cats_resp.json()

const get_links_resp = await (token
	? fetch('http://127.0.0.1:8000/links/month', {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch('http://127.0.0.1:8000/links/month'))
const links: LinkData[] = await get_links_resp.json()
// [{URL: 'https://example.com', LikeCount: 100}, ...]
const other_periods = Periods.filter((other) => other !== 'month')
---

<Layout Title='Welcome to the Open Internet Treasure Map (OITM)'>
	<main>
		<img class='chest-backdrop' src='../../chest.svg' />
		<h1>Welcome to OITM</h1>
		<h2 class='subtitle'>a map of the web's treasures</h2>
		{
			user ? (
				<p>
					<a href={`/new`}>Submit new link</a>
				</p>
			) : null
		}
		<h3>Popular Categories</h3>
		<ol id='popular'>
			{
				popular_cats.map((cat) => (
					<li>
						<a href={`/cat/${cat.Category}`}>{cat.Category}</a>
						<span>({cat.Count})</span>
					</li>
				))
			}
		</ol>
		<h3>Top Links This Month</h3>
		<div id='change-period'>
			<p>Change period:</p>
			{
				other_periods.map((period) => (
					<a class='period' href={`/top/${period}`}>
						{period}
					</a>
				))
			}
		</div>
		<ol id='trending-links'>
			{
				links.map((link) => (
					<Link
						client:load
						Link={link}
						IsSummaryPage={false}
						IsTagPage={false}
						Token={token}
						User={user}
					/>
				))
			}
		</ol>
	</main>
</Layout>

<style>
	.chest-backdrop {
		position: absolute;
		top: 1em;
		left: 50%;
		transform: translatex(-50%);
		width: 180px;
		height: auto;
		opacity: 0.25;
		z-index: -1;
	}
	.subtitle {
		font-size: 1rem;
		margin-bottom: 60px;
		background: rgba(var(--accent-light), 5%);
		padding: 3px;
		text-align: center;
	}
	#popular {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 160px;
	}
	#change-period {
		font-size: 0.9rem;
		display: flex;

		p {
			margin-top: 0;
		}
	}
	.period {
		margin-left: 0.5rem;
	}
	#trending-links {
		padding: 0;
	}
</style>
