---
import Link from '../components/Link/Link'
import ScrollUp from '../components/ScrollUp.astro'
import Layout from '../layouts/Layout.astro'
import { Periods, type CategoryCount, type PaginatedLinks } from '../types'

// get auth token and user if user signed in
const token = Astro.cookies.get('token')?.value
const user: string | undefined = Astro.cookies.get('user')?.value

const top_cats_resp = await (token
	? fetch('http://127.0.0.1:8000/tags/popular', {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch('http://127.0.0.1:8000/tags/popular'))
// [{Category: 'umvc3', Count: 1}, ...]
const top_cats: CategoryCount[] = await top_cats_resp.json()

const get_links_resp = await (token
	? fetch('http://127.0.0.1:8000/links/month', {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch('http://127.0.0.1:8000/links/month'))
const data: PaginatedLinks = await get_links_resp.json()
const links = data.Links
// [{URL: 'https://example.com', LikeCount: 100}, ...]
const other_periods = Periods.filter((other) => other !== 'month')
---

<Layout Title='Welcome to the Open Internet Treasure Map (OITM)'>
	<main>
		<img class='chest-backdrop' src='../../chest.svg' />
			<h1>Welcome to OITM</h1>
			<h2 class='subtitle bg'>a map of the web's treasures</h2>
			{
				user ? (
					<h3 id="new-link">
						<a href={`/new`}>Add link</a>
					</h3>
				) : null
			}
		<section>
			<h2>Top Cats</h2>
			<ol id="top-cats">
				{
					top_cats.map((cat) => (
						<li>
							<a href={`/top?categories=${cat.Category}`}>{cat.Category}</a>
							<span>({cat.Count})</span>
						</li>
					))
				}
			</ol>
		</section>
		<section>
			<h2>Top Links This Month</h2>
			<ol id='change-period'>
				{
					other_periods.map((period) => (
						<li class='period'>
							<a href={`/top?period=${period}`}>{period}</a>
						</li>
					))
				}
			</ol>
			<ol id='top-links'>
				{
					links.map((link) => (
						<Link
							client:load
							Link={link}
							IsSummaryPage={false}
							IsTagPage={false}
							Token={token}
							User={user}
						/>
					))
				}
			</ol>
		</section>
		<ScrollUp />
	</main>
</Layout>

<style>
	.chest-backdrop {
		position: absolute;
		top: 1em;
		left: 50%;
		transform: translatex(-50%);
		width: 150px;
		height: auto;
		opacity: 0.25;
		z-index: -1;
	}
	#new-link {
		text-align: center;
	}
	section:has(#top-cats) {
		margin-top: 1.5rem;
	}
	#change-period {
		display: flex;
		list-style: none;
		padding-inline-start: 1rem;
		margin-top: 0;
	}
	#new-link,
	#change-period {
		a,
		a:visited {
			color: var(--text);
		}
	}
	.period {
		margin-right: 0.5rem;
	}
	.period:last-of-type {
		margin-right: 0;
	}
</style>
