---
import Link from '../components/Link/Link'
import Pagination from '../components/Pagination.astro'
import ScrollUp from '../components/ScrollUp.astro'
import { CATS_ENDPOINT, CONTRIBUTORS_ENDPOINT, LINKS_ENDPOINT } from '../constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import { Periods, type CatCount, type Contributor, type PaginatedLinks } from '../types'
import fetch_with_handle_redirect from '../util/rate_limit'

// Auth
const token = Astro.cookies.get('token')?.value
const user: string | undefined = Astro.cookies.get('user')?.value

// Get top cats
const top_cats_resp = await (token
	? fetch_with_handle_redirect(CATS_ENDPOINT, {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch_with_handle_redirect(CATS_ENDPOINT))
if (!top_cats_resp.Response || top_cats_resp.RedirectTo) {
	return Astro.redirect(top_cats_resp.RedirectTo)
}
const top_cats: CatCount[] = await top_cats_resp.Response?.json()

// Get top contributors
const top_contributors_resp = await fetch_with_handle_redirect(CONTRIBUTORS_ENDPOINT)
if (!top_contributors_resp.Response || top_contributors_resp.RedirectTo) {
	return Astro.redirect(top_contributors_resp.RedirectTo)
}
const top_contributors: Contributor[] = await top_contributors_resp.Response.json()

// Get top links
const DEFAULT_PERIOD = Periods[2] // month
const links_url = LINKS_ENDPOINT + `?period=${DEFAULT_PERIOD}`
const get_links_resp = await (token
	? fetch_with_handle_redirect(links_url, {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch_with_handle_redirect(links_url))
if (!get_links_resp.Response || get_links_resp.RedirectTo) {
	return Astro.redirect(get_links_resp.RedirectTo)
}
const data: PaginatedLinks = await get_links_resp.Response.json()
const links = data.Links

const other_periods = Periods.filter((other) => other !== 'month')

// Pagination
const is_only_page = data.NextPage === -1
---

<BaseLayout Title='Welcome to FITM: The Flexible Internet Treasure Map'>
	<main>
		<img class='chest-backdrop' src='../../chest.svg' alt="treasure chest full of Internet links" />
			<h1>FITM.online</h1>
			<h2 class='subtitle bg'>a map of the web's treasures</h2>
			<h3 id="new-link">
				<a href={`/new`}>Add link</a>
			</h3>
		<section>
			<h2>Top Cats</h2>
			<ol id="top-cats">
				{
					top_cats.map((cat) => (
						<li>
							<a href={`/top?cats=${cat.Category}`}>{cat.Category}</a>
							<span>({cat.Count})</span>
						</li>
					))
				}
			</ol>
		</section>

		<section>
			<h2>Top Contributors</h2>
			<ol id="top-contributors">
				{top_contributors.map(
					(contributor: Contributor) => (
						<li>
							<strong>
								<a
									href={`/map/${contributor.LoginName}`}
								>
									{contributor.LoginName}
								</a>
							</strong>
							<span>
								({contributor.LinksSubmitted})
							</span>
						</li>
					)
				)}
			</ol>
		</section>

		<section>
			<h2>Top Links This Month</h2>
			<ol id='change-period'>
				{
					other_periods.map((period) => (
						<li class='period'>
							<a href={`/top?period=${period}`}>{period}</a>
						</li>
					))
				}
			</ol>

			{is_only_page ? null : <Pagination 
				Period="month"
				Page={1}
				NextPage={data.NextPage}
			/>}

			<ol id='top-links'>
				{
					links.map((link) => (
						<Link
							client:load
							CatsFromUser={
								link.TagCount === 1 && link.SubmittedBy === user 
									? user 
									: undefined
							}
							Link={link}
							IsSummaryPage={false}
							IsTagPage={false}
							IsTmapPage={false}
							Token={token}
							User={user}
						/>
					))
				}
			</ol>

			{is_only_page ? null : <Pagination 
				Period="month"
				Page={1}
				NextPage={data.NextPage}
			/>}
		</section>
		<ScrollUp />
	</main>
</BaseLayout>

<style>
	.chest-backdrop {
		position: absolute;
		top: 1em;
		left: 50%;
		transform: translatex(-50%);
		width: 150px;
		height: auto;
		opacity: 0.25;
		z-index: -1;
	}
	#new-link {
		text-align: center;
	}
	#change-period {
		display: flex;
		list-style: none;
		padding-inline-start: 1rem;
		margin-top: 0;
	}
	#new-link,
	#change-period {
		a,
		a:visited {
			color: var(--text);
		}
	}
	.period {
		margin-right: 0.5rem;
	}
	.period:last-of-type {
		margin-right: 0;
	}
</style>
