---
import CatSearch from '../components/CatSearch'
import Link from '../components/Link/Link'
import Pagination from '../components/Pagination.astro'
import ScrollUp from '../components/ScrollUp.astro'
import { CATS_ENDPOINT, CONTRIBUTORS_ENDPOINT, LINKS_ENDPOINT } from '../constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import {
Periods,
type CatCount,
type Contributor,
type PaginatedLinks,
type Period,
} from '../types'
import fetch_with_handle_redirect from '../util/rate_limit'

// Auth
const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value

// Params
let page = 1
if (Astro.url.searchParams.get('page')) {
	page = parseInt(Astro.url.searchParams.get('page') as string)
}
let cats: string | undefined
if (Astro.url.searchParams.get('cats')) {
	cats = Astro.url.searchParams.get('cats') as string
}
let period: Period = 'all'
let other_periods: Period[] = Periods.filter((other) => other !== 'all')
if (
	Astro.url.searchParams.get('period') &&
	(Periods as readonly string[]).includes(
		Astro.url.searchParams.get('period') as Period
	)
) {
	period = Astro.url.searchParams.get('period') as Period
	other_periods = Periods.filter((other) => other !== period)
}

// Get links
let links_url = LINKS_ENDPOINT

let has_period = false
if (period !== 'all') {
	has_period = true
	links_url += `?period=${period}`
}
let has_cats = false
if (cats) {
	has_cats = true

	if (has_period) {
		links_url += `&cats=${cats}`
	} else {
		links_url += `?cats=${cats}`
	}
}
if (has_period || has_cats) {
	links_url += `&page=${page}`
} else {
	links_url += `?page=${page}`
}

// Links
const get_links_resp = await (token
	? fetch_with_handle_redirect(links_url, {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch_with_handle_redirect(links_url))
if (!get_links_resp.Response || get_links_resp.RedirectTo) {
	return Astro.redirect(get_links_resp.RedirectTo)
}
const data: PaginatedLinks = await get_links_resp.Response.json()
const links = data.Links

// Top cats
let top_cats: CatCount[] = []
let top_subcats: CatCount[] = []

// Top contributors
let top_contributors: Contributor[] = []

if (links && links.length) {

	// Get cat(s) contributors and subcat counts
	let contributors_url = CONTRIBUTORS_ENDPOINT

	if (cats) {
		contributors_url += `?cats=${cats}`
		let subcats_url = CATS_ENDPOINT + `?cats=${cats}`

		if (period !== 'all') {
			contributors_url += `&period=${period}`
			subcats_url += `&period=${period}`
		}

		const subcats_resp = await fetch_with_handle_redirect(subcats_url)
		if (!subcats_resp.Response || subcats_resp.RedirectTo) {
			return Astro.redirect(subcats_resp.RedirectTo)
		}
		top_subcats = await subcats_resp.Response.json()
	
	// Get cat counts
	} else {
		let cats_url = CATS_ENDPOINT
		if (period !== 'all') {
			contributors_url += `?period=${period}`
			cats_url += `?period=${period}`
		}

		const top_cats_resp = await fetch_with_handle_redirect(cats_url)
		if (!top_cats_resp.Response || top_cats_resp.RedirectTo) {
			return Astro.redirect(top_cats_resp.RedirectTo)
		}
		top_cats = await top_cats_resp.Response.json()
		// [{Cat: 'umvc3', Count: 1}, ...]
	}

	const contributors_resp = await fetch_with_handle_redirect(contributors_url)
	if (!contributors_resp.Response || contributors_resp.RedirectTo) {
		return Astro.redirect(contributors_resp.RedirectTo)
	}
	top_contributors = await contributors_resp.Response.json()
}

const is_only_page = 
	page === 1
	&& data.NextPage === -1

const page_title =
	cats
		? cats
		: 'Top Rated'
---

<BaseLayout Title='Top Links / Cats / Contributors'>
	<main>
		<h1>
			{page_title}
		</h1>
		{period !== 'all' ? <h2 class="subtitle">({period.charAt(0).toUpperCase() + period.slice(1)})</h2> : null}
		<section id='search-filters'>
			<h2>Filters</h2>
			<div>
				<p>Period:</p>
				{
					other_periods.map((other) => (
						<a
							class='period'
							href={`/top?period=${other}${cats ? `&cats=${cats}` : ''}`}
						>
							{other}
						</a>
					))
				}
			</div>
			<CatSearch client:load />
		</section>

		{
			links && links.length ? (
				<>
					{top_cats.length ? (
						<section>
							<h2>Top Cats</h2>
							<ol id='top-cats'>
								{top_cats.map((cat) => (
									<li>
										<a
											href={`/top?cats=${cat.Category}${period !== 'all' ? `&period=${period}` : ''}`}
										>
											{cat.Category}
										</a>
										<span>({cat.Count})</span>
									</li>
								))}
							</ol>
						</section>
					) : (
						<section>
							<h2>Top Subcats</h2>
							{top_subcats?.length ? (
								<ol id='top-cats'>
									{top_subcats.map((subcat) => (
										<li>
											<a
												href={`/top?cats=${cats + ',' + subcat.Category}${period !== 'all' ? `&period=${period}` : ''}`}
											>
												{subcat.Category}
											</a>
											<span> ({subcat.Count})</span>
										</li>
									))}
								</ol>
							) : (
								<p>No further subcats</p>
							)}
						</section>
					)}

					<section>
						<h2>Top Contributors</h2>
						<ol id="top-contributors">
							{top_contributors.map(
								(contributor: Contributor) => (
									<li>
										<strong>
											<a
												href={`/map/${contributor.LoginName}`}
											>
												{contributor.LoginName}
											</a>
										</strong>
										<span>
											({contributor.LinksSubmitted})
										</span>
									</li>
								)
							)}
						</ol>
					</section>

					<section>
						<h2>Top Links</h2>

						{is_only_page ? null : <Pagination 
							Period={period}
							Page={page}
							NextPage={data.NextPage}
						/>}

						{/* TODO: replace magic page limit number */}
						<ol id='top-links' start={(page - 1) * 20 + 1}>
							{links.map((link) => (
								<Link
									client:load
									CatsFromUser={link.TagCount === 1 && link.SubmittedBy === user ? user : undefined}
									IsSummaryPage={false}
									IsTagPage={false}
									IsTmapPage={false}
									Link={link}
									Token={token}
									User={user}
								/>
							))}
						</ol>

						{data.NextPage > 0 ? (
							<Pagination
								Period={period}
								Page={page}
								NextPage={data.NextPage}
							/>
						) : null}
					</section>

					<ScrollUp />
				</>
			) : (
				<section>
					<p>No links found</p>
					{user ? (
						<p>
							<a href={`/new`}>Add link</a>
						</p>
					) : null}
				</section>
			)
		}
	</main>
</BaseLayout>

<style>
	#search-filters {
		padding-bottom: 1.5rem;

		div {
			display: flex;
			align-items: center;
		}

		p {
			margin-top: 0;
		}

		a {
			margin-left: 5px;
		}
	}

	:is(li a, li strong:has(a)):has(+ span) {
		display: inline-block;
	}

	
</style>
