---
import Link from '../../components/Link.astro'
import Layout from '../../layouts/Layout.astro'
import type { TreasureMap, User } from '../../types'

const { login_name } = Astro.params

const tmap_resp = await fetch(`http://127.0.0.1:8000/map/${login_name}`)
if (tmap_resp.status > 399) {
	return Astro.redirect('/404')
}
const tmap: TreasureMap = await tmap_resp.json()
// {CategoryCounts: [{Category: 'umvc3', Count: 1}, ...], Links: [{URL: 'https://example.com', LikeCount: 100}, ...]}

const user_resp = await fetch(`http://127.0.0.1:8000/users/${login_name}`)
if (user_resp.status > 399) {
	return Astro.redirect('/404')
}
const user: User = await user_resp.json()
// {LoginName: 'bob', About: '...', PFP: '...', Created: '2022-01-01 00:00:00'}
---

<Layout title='Welcome to the Open Internet Treasure Map (OITM)'>
	<main>
		<h1>{login_name}'s Treasure Map</h1>
		<p>Profile Pic Link: {user.PFP}</p>
		<p>Created: {user.Created}</p>
		<h2>About</h2>
		<p>{user.About}</p>
		<h2>Top Categories</h2>
		<ul>
			{
				tmap.Categories.map((cat) => (
					<li>
						<a href={`/usercat/${login_name}/${cat.Category}`}>
							{cat.Category}
						</a>
						<span>({cat.Count})</span>
					</li>
				))
			}
		</ul>
		<h2>Top Links</h2>
		<ul>
			{tmap.Links.map((link) => <Link link={link} />)}
		</ul>
	</main>
</Layout>

<style></style>
