---
import Link from '../../components/Link'
import ScrollUp from '../../components/ScrollUp.astro'
import Layout from '../../layouts/Layout.astro'
import {
	Periods,
	type CategoryCount,
	type LinkData,
	type Period,
} from '../../types'

// get auth token and user if user signed in
const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value

const { period } = Astro.params as { period: Period }
if (period && !Periods.includes(period)) {
	return Astro.redirect('/404')
}
const other_periods = Periods.filter((other) => other !== period)

const links_api_url =
	period === 'all'
		? 'http://127.0.0.1:8000/links'
		: `http://127.0.0.1:8000/links/${period}`
const get_links_resp = await (token
	? fetch(links_api_url, {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch(links_api_url))
const links: LinkData[] = await get_links_resp.json()
// [{URL: 'https://example.com', LikeCount: 100}, ...]

let top_cats: CategoryCount[] = []

if (links.length) {
	const cats_api_url =
		period === 'all'
			? 'http://127.0.0.1:8000/tags/popular'
			: `http://127.0.0.1:8000/tags/popular/${period}`

	const top_cats_resp = await (token
		? fetch(cats_api_url, {
				headers: { Authorization: `Bearer ${token}` },
			})
		: fetch(cats_api_url))
	// [{Category: 'umvc3', Count: 1}, ...]
	top_cats = await top_cats_resp.json()
}
---

<Layout Title='Welcome to the Open Internet Treasure Map (OITM)'>
	<main>
		<h1>
			{`Top (${period.charAt(0).toUpperCase() + period.slice(1)})`}
		</h1>
		<section id='search-filters'>
			<h2>Filter Period</h2>
			<div>
				{
					other_periods.map((period) => (
						<a class='period' href={`/top/${period}`}>
							{period ? period : 'all'}
						</a>
					))
				}
			</div>
		</section>

		{
			links.length ? (
				<>
					<section>
						<h2>Categories</h2>
						<ol id='top-categories'>
							{top_cats.map((cat) => (
								<li>
									<a
										href={
											period === 'all'
												? `/cat/${cat.Category}`
												: `/top/${period}/${cat.Category}`
										}
									>
										{cat.Category}
									</a>
									<span>({cat.Count})</span>
								</li>
							))}
						</ol>
					</section>

					<section>
						<h2>Links</h2>
						<ol id='links'>
							{links.map((link) => (
								<Link
									client:load
									IsSummaryPage={false}
									IsTagPage={false}
									Link={link}
									Token={token}
									User={user}
								/>
							))}
						</ol>
					</section>

					<ScrollUp />
				</>
			) : (
				<>
					<h3>No results</h3>
					{user ? (
						<p>
							<a href={`/new`}>Add link</a>
						</p>
					) : null}
				</>
			)
		}
	</main>
</Layout>

<style>
	#search-filters {
		div {
			display: flex;
			align-items: center;
		}

		p {
			margin-top: 0;
		}

		.period {
			margin-left: 0.5rem;
		}

		.period:first-of-type {
			margin-left: 0;
		}
	}
	#top-categories {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: 160px;
	}
	#links {
		padding: 0;
	}
</style>
